{% load static  %}
<!doctype html>
<html lang="en">

<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- favicon -->
    <link rel="icon" sizes="16x16" href="{% static 'tamplates/assets/img/favicon.png' %}">

    <!-- Title -->
    <title> NoonPost. - Personal Blog HTML Template </title>

    <!-- Font Google -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" >

    <!-- CSS Plugins -->
    <link rel="stylesheet" href="{% static 'assets/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/elegant-font-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.css' %}">



    <!-- main style -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    
    <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
</head>

<body>
    <!--loading -->
    <div class="loading">
        <div class="circle"></div>
    </div>
    <!--/-->
     
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container-fluid">
            <!--logo-->
            <div class="logo">
                <a href="index.html">
                    <img src="assets/img/logo-dark.png" alt="" class="logo-dark">
                    <img src="assets/img/logo-white.png" alt="" class="logo-white">
                </a>
            </div>
            <!--/-->
    
            <!--navbar-collapse-->
            <div class="collapse navbar-collapse" id="main_nav">
                <ul class="navbar-nav ml-auto mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link " href="{% url 'blog:blog_list' %} " > Home </a>
                       
                    </li>
    
                    <li class="nav-item dropdown">
                        <a class="nav-link " href="/" > Blog </a>
                       
                    </li>
                    
    
                    <li class="nav-item ">
                        <a class="nav-link  " href="#" >Pages </a>
                     
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html"> Contact </a>
                    </li>
                   
                </ul>
            </div>
            <!--/-->
    
            <!--navbar-right-->
            <div class="navbar-right ml-auto">
                <div class="theme-switch-wrapper">
                    <label class="theme-switch" for="checkbox">
                        <input type="checkbox" id="checkbox" />
                        <div class="slider round"></div>
                    </label>
                </div>
                <div class="social-icones">
                    <ul class="list-inline">
                        <li>
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </li>
                    </ul>
                </div>
    
                <div class="search-icon">
                    <i class="icon_search"></i>
                </div>
    
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </nav>
    <!--/-->

  
    <!--post-default-->
    <section class="section pt-55 ">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 mb-20">

                    {% if messages %}
                    {% for message in messages %}
              
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                      <strong>{{ message }}</strong> 
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                      
                      {% endfor %}
                        
                      {% endif %}

                    <!--Post-single-->
                    <div class="post-single">
                        <div class="post-single-image">
                            <img src="assets/img/blog/6.jpg" alt="">
                        </div>
                        <div class="post-single-content">
                            <a href="blog-grid.html" class="categorie">travel</a> 



                            <h4>{{ post.title }}</h4>
                           
                        </div>
                  
                        <div class="post-single-body">
                            
                           
                            <div class="row">
                                <div class="col-md-12 ">
                                    <div class="image">
                                        <img src="{{ post.thumbnail.url }}" alt="">
                                        
                                    </div>
                                </div>                             
                            </div>
                            
                            <p>{{ post.description }}
                            </p>
                           
                           
                            <div class="post-single-info">
                                <ul class="list-inline">
                                    
                                    <li>January 15, 2021</li>
                                    <li class="dot"></li>
                                    <li>3 comments</li>
                                </ul>
                            </div>
                           
                          
                          
                           
                        </div>

                        <div class="post-single-footer">
                          
                            <div class="social-media">
                                <ul class="list-inline">
                                    <li>
                                        <a href="#" class="color-facebook">
                                            <i class="fab fa-facebook"></i>
                                        </a>
                                    </li>
                                   
                                    <li>
                                        <a href="#" class="color-twitter">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                   
                                    <li>
                                        <a href="#" class="color-pinterest">
                                            <i class="fab fa-pinterest"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>                           
                        </div>
                    </div> <!--/-->

                  
                    <!--widget-comments-->
                    <div class="widget mb-50">
                        <div class="title">
                            <h3 >{{ post.comment_count }} Comments</h3>
                        </div>

                        
                        <ul class="widget-comments">
                           
                            {% for comment in comments %}
                            <li class="comment-item">
                               
                                <div class="content">
                                    <ul class="info list-inline">
                                        <li>{{ comment.name }}</li>
                                        <li class="dot"></li>
                                        <li>{{ comment.creation | date }}</li>
                                    </ul>
                                    <p>{{ comment.body }}
                                    </p>
                                   
                                </div>
                                
                            </li>
                            {% endfor %}
                            
                            
                        </ul>
                        
                       <!--Leave-comments-->
                     
                        <form action="." method="POST" class="widget-form"  id="main_contact_form">
                           
                          
                            <div class="row">
                                   
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input 
                                        type="text" 
                                        class="form-control"
                                        name="name"  
                                        id="inputName"  
                                        placeholder="Name*" 
                                        aria-label="Name"
                                        required="required">
                                    </div>
                                </div>
                              


                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea
                                        class="form-control"
                                        name="body"
                                        rows="7"
                                        id="descriptionTextarea"
                                        placeholder="Comment*"
                                        required
                                        data-msg="Please enter your message."
                                    ></textarea>
                                    </div>
                                </div>
                             
                                {% csrf_token %}
                                <div class="col-12">
                                    
                                    <button type="submit" name="submit" class="btn-custom">
                                        Post Comment
                                    </button>
                                </div> 
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4 max-width">
                    <!--widget-author-->
                    <div class="widget">
                        <div class="widget-author">
                            <a href="author.html" class="image">
                                <img src="{% static "tamplates/assets/img/author/jonaid.jpg" %}" alt="">
                            </a>
                            <h6>
                                <span>Hi, I'm Jonaid Ahmad </span>
                            </h6>
                            <p>

                            I'm Jonaid Ahmad, husband and father ,
                             I love Photography,travel and nature. I'm working as a writer and blogger with experience
                            of 5 years until now.
                        </p>
                    
                    
                            <div class="social-media">
                                <ul class="list-inline">
                                    <li>
                                        <a href="#" class="color-facebook">
                                            <i class="fab fa-facebook"></i>
                                        </a>
                                    </li>
                                   
                                    <li>
                                        <a href="#" class="color-twitter">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                   
                                    <li>
                                        <a href="#" class="color-pinterest">
                                            <i class="fab fa-pinterest"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--/-->

                    <!--widget-latest-posts-->
                    <div class="widget ">
                        <div class="section-title">
                            <h5>Latest Posts</h5>
                        </div>
                        <ul class="widget-latest-posts">
                            {% for post in similar_post %}
                              
                            
                            <li class="last-post">
                                <div class="image">
                                    <a href="post-default.html">
                                        <img src="{{ post.thumbnail.url }} " alt="...">
                                    </a>
                                </div>
                                <div class="nb">1</div>
                                <div class="content">
                                    <p><a href="post-default.html">{{ post.short_description }} </a></p>
                                    <small><span class="icon_clock_alt"></span>{{ post.creation }} </small>
                                </div>
                            </li>
                            {% endfor %}
                            
                        </ul>
                    </div>
                    <!--/-->
                   
                    <!--widget-categories-->
                    <div class="widget">
                        <div class="section-title">
                            <h5>Categories</h5>
                        </div>
                        <ul class="widget-categories">
                            {% for category in categories %}
                              
                            
                            <li>
                                <a href="" class="categorie">{{ category.name }} </a>
                                
                            </li>
                            {% endfor %}
                          
                         
                           
                        </ul>
                    </div><!--/-->
                    
                    <!--widget-instagram-->
                    <div class="widget">
                        <div class="section-title">
                            <h5>Instagram</h5>
                        </div>
                        <ul class="widget-instagram">
                            <li>
                                <a class="image" href="#">
                                    <img src="assets/img/instagram/1.jpg" alt="">
                                </a>
                            </li>
                            <li>
                                <a class="image" href="#">
                                    <img src="assets/img/instagram/2.jpg" alt="">
                                </a>
                            </li>
                            <li>
                                <a class="image" href="#">
                                    <img src="assets/img/instagram/3.jpg" alt="">
                                </a>
                            </li>
                            <li>
                                <a class="image" href="#">
                                    <img src="assets/img/instagram/4.jpg" alt="">
                                </a>
                            </li>
                            <li>
                                <a class="image" href="#">
                                    <img src="assets/img/instagram/5.jpg" alt="">
                                </a>
                            </li>
                            <li>
                                <a class="image" href="#">
                                    <img src="assets/img/instagram/6.jpg" alt="">
                                </a>
                            </li>
                        </ul>
                            
                    </div><!--/-->

                    
                </div> 
            </div>
        </div>
    </section><!--/-->

    
    <!--newslettre-->
  
    
    <!--footer-->
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright">
                        <p>© Copyright 2021  <a href="#">AssiaGroupe</a>, All rights reserved.</p>
                    </div>
                    <div class="back">
                        <a href="#" class="back-top">
                            <i class="arrow_up"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!--Search-form-->
    <div class="search">
        <div class="container-fluid">
            <div class="search-width  text-center">
                <button type="button" class="close">
                    <i class="icon_close"></i>
                </button>
                <form class="search-form" action="#">
                    <input type="search" value="" placeholder="What are you looking for?">
                    <button type="submit" class="search-btn">search</button>
                </form>
            </div>
        </div>
    </div>
    <!--/-->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'assets/js/jquery-3.5.0.min.js' %}"></script>
    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

    <!-- JS Plugins  -->
    <script src="{% static 'assets/js/ajax-contact.js' %}"></script>
    <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets/js/switch.js' %}"></script>
    
    <!-- JS main  -->
    <script src="{% static 'assets/js/main.js' %}"></script>


</body>

</html>