{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- Title -->
    <title>NoonPost. - Personal Blog HTML Template</title>

    <!-- Font Google -->
    <link
      href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap"
      rel="stylesheet"
    />

    <!-- CSS Plugins -->
    <link rel="stylesheet" href="{% static 'assets/css/all.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'assets/css/elegant-font-icons.css' %}"
    />
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.css' %}" />

    <!-- main style -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />

    <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}" />
  </head>

  <body>
    <!--loading -->
    <div class="loading">
      <div class="circle"></div>
    </div>
    <!--/-->

    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg fixed-top">
      <div class="container-fluid">
        <!--logo-->
        <div class="logo">
          <a href="/">
            <img src="{% static 'assets/img/logo-dark.png' %}" alt=""
            class="logo-dark">
            <img src="{% static 'assets/img/logo-white.png'%}" alt="" class="logo-white">
          </a>
        </div>
        <!--/-->

        <!--navbar-collapse-->
        <div class="collapse navbar-collapse" id="main_nav">
          <ul class="navbar-nav ml-auto mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/"> Home </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href=""> Blog </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">Page </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href=""> Contact </a>
            </li>
          </ul>
        </div>
        <!--/-->

        <!--navbar-right-->
        <div class="navbar-right ml-auto">
          <div class="theme-switch-wrapper">
            <label class="theme-switch" for="checkbox">
              <input type="checkbox" id="checkbox" />
              <div class="slider round"></div>
            </label>
          </div>

          <div class="social-icones">
            <ul class="list-inline">
              <li>
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fab fa-instagram"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fab fa-youtube"></i>
                </a>
              </li>
            </ul>
          </div>

          <div class="search-icon">
            <i class="icon_search"></i>
          </div>

          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#main_nav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </nav>
    <!--/-->


    
    {% block body %}
        
    {% endblock body %}
        


    <!--footer-->
    <footer class="footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="copyright">
              <p>
                © Copyright 2021 <a href="#">AssiaGroupe</a> , All rights
                reserved.
              </p>
            </div>
            <div class="back">
              <a href="#" class="back-top">
                <i class="arrow_up"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!--Search-form-->
    <div class="search">
      <div class="container-fluid">
        <div class="search-width text-center">
          <button type="button" class="close">
            <i class="icon_close"></i>
          </button>
          <form class="search-form" action="#">
            <input
              type="search"
              value=""
              placeholder="What are you looking for?"
            />
            <button type="submit" class="search-btn">search</button>
          </form>
        </div>
      </div>
    </div>
    <!--/-->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'assets/js/jquery-3.5.0.min.js' %}"></script>
    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

    <!-- JS Plugins  -->
    <script src="{% static 'assets/js/ajax-contact.js' %}"></script>
    <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets/js/switch.js' %}"></script>

    <!-- JS main  -->
    <script src="{% static 'assets/js/main.js' %}"></script>
  </body>
</html>
